/*
  These are the styles for in principal
  page.
*/

/* Globals */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #274646; */
  background-color: #141216;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23746f7b' fill-opacity='0.45' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

/* background: #0F2027;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* Navigation */
header .nav-main {
  padding: 0.8rem;
  background-color: #444;
  display: grid;
  grid-template-columns: 70% 30%;
  opacity: .9;
}

header .nav-main .nav-left, header .nav-main .nav-rigth {
  list-style: none;
  padding-left: 0;
}

header .nav-main .nav-rigth {
  display: flex; /* This is for put one between other */
}

header .nav-main .nav-rigth li {
  margin: 2rem 1rem;
}

header .nav-main .nav-rigth li a {
  transition: color .3s ease;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;

}

header .nav-main .nav-rigth li a:hover {
  color: #aaa;
  text-shadow: .1rem .1rem rgba(255, 255, 255, 0.2);

}

header .nav-main .nav-left li {
  margin: 1.5rem 0;
}

header .nav-main .nav-left li a {
  transition: color 0.3s ease;
  color: #ffffff;
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
}

header .nav-main .nav-left li a:hover {
  cursor: pointer;
  color: #aaa;
}

/* Messages */
.messages-view {
  width: 50%;
  margin: 1rem auto;
  margin-bottom: 0;
  background-color: #535050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  transition: background-color .3s ease;
}

.messages-view:hover {
  cursor: pointer;
  background-color: #666262;
}

.messages-view .message {
  color: #ffffff;
  font-size: 1.5rem;
}

.messages-view .message:hover {
  cursor: pointer;
  color: #cccccc;
}

/* Container */
.container {
  width: 80%;
  margin: 2rem auto;
}

/* Images */
.container .images-view img {
  transition: box-shadow 0.3s ease;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.container .images-view img:hover {
  box-shadow: 0.8rem 0.8rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
  
}

.container .images-view p {
  transition: color .3s ease;
  color: #aaa;
  font-size: 1.5rem;
  padding: 0;
  text-align: justify;
}

.container .images-view p:hover {
  color: #999;
}

/* The image view for show */
.container .images-view {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2.5rem;
  row-gap: 3rem;
}

/* Footer */
footer {
  background-color: #444;
  padding: 0.8rem;
  color: #ffffff;
  margin-top: 8.5rem;
  opacity: .9;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {
  transition: color 0.3s ease;
  font-size: 1.5rem;
  margin: 0 2rem;
}

footer p:hover {
  cursor: pointer;
  color: #bbb;
}

footer a {
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0;
  margin-left: 70%;
  color: #ffffff;
}

footer a:hover {
  color: #bbb;
}

@media (max-width: 700px) {

  /* Navigation */
  header .nav-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    row-gap: 0;
    padding: 0.5rem;
  }

  header .nav-main .nav-left a {
    margin: 0;
    padding: 0;
  }

  header .nav-main .nav-rigth li {
    margin: 0 2rem;
    padding: 0;
  }

  header .nav-main .nav-rigth li a {
    padding: 0;
    margin: 0;
  }

  /* Images */
  .container .images-view {
    grid-template-columns: 1fr;
  }

  /* Footer */
  footer a {
    margin-left: 50%;
  }

  .messages-view {
    width: 90%;
  }

}

@media (max-width: 500px) {
  /* Navigation */
  header .nav-main .nav-rigth li {
    padding: 0.5rem 1.5rem;
    margin: 0;
  }

  .container .images-view {
    row-gap: 1rem;
  }

  .container .images-view p {
    text-align: center;
  }

  footer a {
    margin-left: 20%;
  }

  .messages-view {
    width: 70%;
  }
  
}