{% extends 'layout.html' %}

<!-- THIS IS THE PAGE FOR CHANGE THE NAME -->

{% block content %}
<!-- CUSTOM STYLE -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}">

<div class="container">
  <!-- FORM FOR THE DATA -->
  <form action="/change-name/{{ user.id }}" method="POST">
    <h1>Put the new name</h1>

    <label for="old-name">Old Name</label>
    <input type="text" id="old-name" readonly value="{{ user.name }}">

    <label for="new-name">New Name</label>
    <input type="text" id="new-name" name="new-name" placeholder="New name" autofocus>

    <button type="submit">Change</button>

  </form>
</div>
{% endblock %}