{% extends 'layout.html' %}

<!-- THIS IS THE PAGE FOR CHANGE THE PASSWORD -->

{% block content %}
<!-- CUSTOM STYLE -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}">

<!-- SHOWING MESSAGES AND EXISTS -->
{% with messages = get_flashed_messages()[0] %}
{% if messages %}
<div class="messages-view">
  <p class="message">{{ messages }}</p>
</div>
<script src="{{ url_for('static', filename = 'js/deleteMessage.js') }}"></script>
{% endif %}
{% endwith %}

<div class="container">
  <!-- FORMULARY -->
  <form action="/change-password/{{ user[0] }}" method="POST">
    <h1>Put the new password</h1>
    <p>Put a secure password for your count. With special scharacters, number and letters.</p>
    <!-- PASSWORDS INPUTS -->
    <input type="password" name="first-password" placeholder="New password" autofocus>
    <input type="password" name="second-password" placeholder="Repeat the password">

    <button type="submit">Change</button>

  </form>
</div>

{% endblock %}