{% extends 'layout.html' %}

{% block content %}

<!-- CUSTOM STYLE -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}">

<!-- SHOWING MESSAGES IF EXISTS -->
{% with messages = get_flashed_messages()[0] %}
{% if messages %}
<div class="messages-view">
  <p class="message">{{ messages }}</p>
</div>
<script src="{{ url_for('static', filename = 'js/deleteMessage.js') }}"></script>
{% endif %}
{% endwith %}

<div class="container">
  <form action="/validate-password-for-name/{{ user.id }}" method="POST">
    <label for="password-to-validate">First validate your Password for change the name.</label>
    <input id="password-to-validate" name="password-to-validate" type="password" autofocus>

    <button type="submit">Validate</button>

  </form>
</div>
{% endblock %}