{% extends 'layout.html' %}

<!-- THIS IS THE PAGE FOR GET INFORMATON OF OUR USER -->

{% block content %}

<!-- CUSTOM STYLE -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/count.css') }}">

<div class="container">
  <h1>My Count</h1>
  <span>Name: {{ user.name }}</span>
  <span>Password: The password is encrypted.</span>

  <a href="/validate-password-for-name/{{ user.id }}">Change Name</a>
  <a href="/validate-password/{{ user.id }}">Change Password</a>

</div>
{% endblock %}